#articlesMenu {
	margin-right: 15px;
}

#articlesMenu li { 
	display: inline;
	margin-right: 1.33em;
}

.artmenuLink {
	width: 7.5em;
}

.article {
	margin-bottom: 2.5%;
}

#blurb {
	margin-bottom: 2.5%;
}
