body {
    background-color: lightblue;
}

@font-face {
	font-family: DroidSans;
	src: url(/static/fonts/DroidSans.ttf);
}

@font-face {
	font-family: DroidSans;
	src: url(/static/fonts/DroidSans-Bold.ttf)
	font-weight: bold;
}

@font-face { 
	font-family: DroidSansMono;
	src: url(/static/fonts/DroidSansMono.ttf)
}
