.photo {
	width:256px; 
}

div#skills {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

div#hcard-David-Molik {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}


.adr {
	display: none;
}

div.org .organization-unit {
	display: none;
}

div.org .organization-name {
	display: none;
}

ul.skill-list {
	/* min-height: 80px; */
}
