body {
	text-size: 95%;
	font-family:  "DroidSans", Arial, sans-serif;
}

h1.title {
	font-size: 2em;
}

h6 {
	text-decoration: underline;
}

code {
	font-family: "DroidSansMono", Arial, sans-serif;
}
