h1 {
	font-family: "DroidSans", Arial, sans-serif;
}

h2 {
	font-family: "DroidSans", Arial, sans-serif;
}

h3 {
	font-family: "DroidSans", Arial, sans-serif;
}

h4 {
	font-family: "DroidSans", Arial, sans-serif;
}

h5 {
	font-family: "DroidSans", Arial, sans-serif;
}

h6 {
	font-family: "DroidSans", Arial, sans-serif;
}

p {
	font-family: "DroidSans", Arial, sans-serif;
}

div {
	font-family: "DroidSans", Arial, sans-serif;
}

span {
	font-family: "DroidSans", Arial, sans-serif;
}

code {
	font-family: "DroidSansMono", Arial, sans-serif;
}
